<?xml version="1.0"?>
<!--
    This file is part of ALPHA AUV project.

    Author: Emir Cem Gezer
    Email: emircem@uri.edu;emircem.gezer@gmail.com
    Year: 2022

    Copyright (C) 2022 Smart Ocean Systems Laboratory
-->
<launch>

    <arg name="robot_name" default="oasis_auv"/>

    <!--
        List of the simulated worlds in the 'alpha_sci_stonefish'
    -->
    <arg name="scenario" default="under_ice"/>

    <include file="$(find oasis_auv_stonefish)/launch/simulation.launch">
        <arg name="robot_name" value="$(arg robot_name)"/>
        <arg name="scenario" value="$(arg scenario)"/>
    </include>

    <include file="$(find oasis_auv_bringup)/launch/include/description.launch.xml">
        <arg name="robot_name" value="$(arg robot_name)"/>
    </include>

    <include file="$(find oasis_auv_bringup)/launch/include/localization.launch.xml">
        <arg name="robot_name" value="$(arg robot_name)"/>
        <arg name="is_sim" value="true"/>
    </include>

    <node pkg="rviz" type="rviz" name="rviz" args="-d $(find oasis_auv_description)/rviz/config.rviz"/>

    <include file="$(find oasis_auv_bringup)/launch/include/control.launch.xml">
        <arg name="robot_name" value="$(arg robot_name)"/>
    </include>
    
    <include file="$(find oasis_auv_bringup)/launch/bringup_helm.launch">
        <arg name="robot_name" value="$(arg robot_name)"/>
    </include>


</launch>
