<?xml version="1.0"?>
<!--
    This file is part of ALPHA AUV project.

    Author: Lin Zhao
    Email: linzhao@uri.edu
    Year: 2023

    Copyright (C) 2022-2023 Smart Ocean Systems Laboratory
-->
<launch>

  <arg name="robot_name" default="oasis_auv"/>

  <!-- Just for Thruster Test -->
  <!-- <include file="$(find alpha_rise_bringup)/launch/include/joystick.launch.xml">
    <arg name="robot_name" value="$(arg robot_name)"/>
  </include> -->

  <!-- Bring up Pico MCU -->
  <include file="$(find oasis_auv_config)/launch/include/pi_pico.launch.xml">
    <arg name="robot_name" value="$(arg robot_name)"/>
  </include>

  <!-- Bring up the Bluerobotics Pressure sensor -->
  <include file="$(find oasis_auv_config)/launch/include/bluerobotics_bar30.launch.xml">
    <arg name="robot_name" value="$(arg robot_name)"/>
  </include>  

  <!-- Bring up the Bluerobotics Ping360 MSIS sensor -->
  <include file="$(find oasis_auv_config)/launch/include/bluerobotics_ping360.launch.xml">
    <arg name="robot_name" value="$(arg robot_name)"/>
  </include>  

  <!-- Bring up the Power Minotor  -->
  <include file="$(find oasis_auv_config)/launch/include/power_monitor.launch.xml">
    <arg name="robot_name" value="$(arg robot_name)"/>
  </include>  

  <!-- Bring up Waterlinked DVL -->
  <include file="$(find oasis_auv_config)/launch/include/waterlinked_dvl.launch.xml">
    <arg name="robot_name" value="$(arg robot_name)"/>
  </include>

  <!-- Bring up Xsens AHRS -->
  <include file="$(find oasis_auv_config)/launch/include/xsens_imu.launch.xml">
    <arg name="robot_name" value="$(arg robot_name)"/>
  </include>

  <!-- Bring up GPS -->
  <include file="$(find oasis_auv_config)/launch/include/gps_nmea.launch.xml">
    <arg name="robot_name" value="$(arg robot_name)"/>
  </include>

  <!-- Bring up the ROS TF  -->
  <include file="$(find oasis_auv_config)/launch/include/description.launch.xml">
    <arg name="robot_name" value="$(arg robot_name)"/>
  </include>

  <!-- Bring up the Localization Solution -->
  <include file="$(find oasis_auv_config)/launch/include/localization.launch.xml">
    <arg name="robot_name" value="$(arg robot_name)"/>
  </include>

  <!-- Bring up Helm -->
  <include file="$(find oasis_auv_config)/launch/bringup_helm.launch">
      <arg name="robot_name" value="$(arg robot_name)"/>
  </include>

  <!-- Bring up Control -->
  <include file="$(find oasis_auv_config)/launch/include/control.launch.xml">
    <arg name="robot_name" value="$(arg robot_name)"/>
  </include>

</launch>