<?xml version="1.0"?>
<!--
    This file is part of ALPHA AUV project.

    Author: Emir Cem Gezer
    Email: emircem@uri.edu;emircem.gezer@gmail.com
    Year: 2022

    Copyright (C) 2022 Smart Ocean Systems Laboratory
-->
<scenario xmlns:xacro="http://ros.org/wiki/xacro">

    <xacro:arg name="robot_name" default="changeme"/>

    <xacro:include filename="$(find oasis_auv_stonefish)/description/oasis_auv.scn.xacro"/>

    <xacro:oasis_auv robot_name="$(arg robot_name)" xyz="0.0 0.0 5.0" rpy="0.0 0.0 0.0"/>

    <environment>
        <ned latitude="41" longitude="-71"/>
        <ocean>
            <water density="1031.0" jerlov="0.2"/>
            <waves height="0.0"/>
            <particles enabled="true"/>
            <current type="uniform">
                <velocity xyz="0.0 0.0 0.0"/>
            </current>
            <!-- <current type="jet">
                <center xyz="0.0 0.0 3.0"/>
                <outlet radius="0.2"/>
                <velocity xyz="0.0 2.0 0.0"/>
            </current> -->
        </ocean>
        <atmosphere>
            <sun azimuth="50.0" elevation="30.0"/>
        </atmosphere>
    </environment>

    <static name="Ice" type="model">
        <physical>
            <mesh filename="ice_cover.obj" scale="1.0" convex="false"/>
            <origin xyz="0.0 0.0 0.0" rpy="0.0 0.0 0.0"/>
        </physical>
        <visual>
            <mesh filename="ice_cover.obj" scale="1.0"/>
            <origin xyz="0.0 0.0 0.0" rpy="0.0 0.0 0.0"/>
        </visual>
        <material name="Ice"/>
        <look name="ice"/>
        <world_transform xyz="0.0 0.0 0.0" rpy="0.0 0.0 0.0"/>
    </static>


</scenario>