<?xml version="1.0"?>
<!--
    This file is part of ALPHA AUV project.
    Author: Emir Cem Gezer
    Email: emircem@uri.edu;emircem.gezer@gmail.com
    Year: 2022
    Copyright (C) 2022 Smart Ocean Systems Laboratory
-->
<scenario xmlns:xacro="http://ros.org/wiki/xacro">

    <xacro:include filename="$(find oasis_auv_stonefish)/description/looks.scn.xacro"/>
    <xacro:include filename="$(find oasis_auv_stonefish)/description/materials.scn.xacro"/>

    <xacro:macro name="oasis_auv" params="xyz rpy robot_name">
        <robot name="${robot_name}" fixed="false" self_collisions="false">

           
            <base_link name="Vehicle" type="compound" physics="submerged">
                <external_part name="Hull" type="model" physics="submerged" buoyant="false">
                    <physical>
                        <mesh filename="hull_phy_reduced.obj" scale="1.0"/>
                        <origin rpy="0.0 0.0 0.0" xyz="0.0 0.0 0.0"/>
                    </physical>
                    <visual>
                        <mesh filename="hull.obj" scale="1.0"/>
                        <origin rpy="0.0 0.0 0.0" xyz="0.0 0.0 0.0"/>
                    </visual>
                    <material name="Vehicle"/>
                    <look name="yellow"/>
                    <mass value="39.0"/>
                    <inertia xyz="1.0 10.0 10.0"/>
                    <compound_transform rpy="0.0 0.0 0.0" xyz="0.0 0.0 0.0"/>
                    <cg xyz="-0.65 0.0 0.1" rpy="0.0 0.0 0.0"/>
                </external_part>

                <internal_part name="Foam" type="cylinder" physics="surface" buoyant="true">
                    <dimensions radius="0.12" height="0.9"/>
                    <origin rpy="0.0 0.0 0.0" xyz="0.0 0.0 0.0"/>
                    <material name="Foam"/>
                    <mass value="1.5"/>
                    <look name="grey"/>
                    <compound_transform rpy="0.0 1.571 0.0" xyz="-0.65 0.0 -0.1"/>
                </internal_part>

                <external_part name="Mast" type="model" physics="submerged">
                    <physical>
                        <mesh filename="mast.obj" scale="0.001"/>
                        <origin rpy="-1.571 0.0 1.571"  xyz="-1.0 0.0 0.0"/>
                    </physical>
                    <visual>
                        <mesh filename="mast.obj" scale="0.001"/>
                        <origin rpy="-1.571 0.0 1.571" xyz="-1.0 0.0 0.0"/>
                    </visual>
                    <material name="Resin"/>
                    <look name="white"/>
                    <compound_transform rpy="0.0 0.0 0.0" xyz="0.0 0.0 0.0"/>
                </external_part>

                <external_part name="ThrusterDuctSurge" type="model" physics="submerged" buoyant="false">
                    <physical>
                        <mesh filename="duct.obj" scale="0.0015"/>
                        <origin rpy="0.0 1.571 0.0" xyz="-1.325 0.0 0.0"/>
                    </physical>
                    <visual>
                        <mesh filename="duct.obj" scale="0.0015"/>
                        <origin rpy="0.0 1.571 0.0" xyz="-1.325 0.0 0.0"/>
                    </visual>
                    <material name="Neutral"/>
                    <look name="black"/>
                    <compound_transform rpy="0.0 0.0 0.0" xyz="0.0 0.0 0.0"/>
                </external_part>
            </base_link>

            <!-- the actual base frame  -->
            <link name="Base" type="box" physics="submerged">
                <dimensions xyz="0.01 0.02 0.01"/>
                <origin xyz="0.0 0.0 0.0" rpy="0.0 0.0 0.0"/>
                <material name="Neutral"/>
                <look name="Green"/>
            </link>
            
            <joint name="Joint1" type="fixed">
                <parent name="Vehicle"/>
                <child name="Base"/>
                <origin xyz="0.0 0.0 0.0" rpy="0.0 0.0 0.0"/>
                <axis xyz="1.0 0.0 0.0"/>
            </joint>
            <!--  -->

            <actuator name="ThrusterSwayBow" type="thruster">
                <link name="Base"/>
                <origin rpy="0.0 0.0 1.5707963" xyz="-0.18 0.0 0.0"/>
                <specs thrust_coeff="0.4315" thrust_coeff_backward="0.3404" torque_coeff="0.01" max_rpm="3000.0"/>
                <propeller diameter="0.08" right="true">
                    <mesh filename="prop.obj" scale="1.0"/>
                    <material name="Neutral"/>
                    <look name="white"/>
                </propeller>
                <ros_subscriber topic="/${robot_name}/control/thruster/sway_bow"/>
            </actuator>

            <actuator name="ThrusterHeaveStern" type="thruster">
                <link name="Base"/>
                <origin rpy="0.0 -1.571 0.0" xyz="-1.0956 0.0 0.0"/>
                <specs thrust_coeff="0.4315" thrust_coeff_backward="0.3404" torque_coeff="0.01" max_rpm="3000.0"/>
                <propeller diameter="0.08" right="true">
                    <mesh filename="prop.obj" scale="1.0"/>
                    <material name="Neutral"/>
                    <look name="white"/>
                </propeller>
                <ros_subscriber topic="/${robot_name}/control/thruster/heave_stern"/>
            </actuator>

            <actuator name="ThrusterHeaveBow" type="thruster">
                <link name="Base"/>
                <origin rpy="0.0 -1.571 0.0" xyz="-0.2857 0.0 0.0"/>
                <specs thrust_coeff="0.4315" thrust_coeff_backward="0.3404" torque_coeff="0.01" max_rpm="3000.0"/>
                <propeller diameter="0.08" right="true">
                    <mesh filename="prop.obj" scale="1.0"/>
                    <material name="Neutral"/>
                    <look name="white"/>
                </propeller>
                <ros_subscriber topic="/${robot_name}/control/thruster/heave_bow"/>
            </actuator>

            <actuator name="ThrusterSurge" type="thruster">
                <link name="Base"/>
                <origin rpy="0.0 0.0 0.0" xyz="-1.325 0.0 0.0"/>
                <specs thrust_coeff="1.7568" thrust_coeff_backward="1.0882" torque_coeff="0.01" max_rpm="3000.0"/>
                <propeller diameter="0.08" right="true">
                    <origin rpy="1.571 0.0 0.0" xyz="0.0 0.0 0.0"/>
                    <mesh filename="prop.obj" scale="1.5"/>
                    <material name="Neutral"/>
                    <look name="white"/>
                </propeller>
                <ros_subscriber topic="/${robot_name}/control/thruster/surge"/>
            </actuator>

            <sensor name="pressure" type="pressure" rate="5.0">
                <link name="Base"/>
                <origin rpy="0.0 0.0 0.0" xyz="-1.20 0.0 0.0"/>
                <noise pressure="2.0"/>
                <ros_publisher topic="/${robot_name}/pressure"/>
            </sensor>

            <sensor name="dvl_sf" type="dvl" rate="5.0">
                <link name="Base"/>
                <origin rpy="3.1415926 0.0 0.0" xyz="-0.65 0.0 0.1"/>
                <specs beam_angle="30.0"/>
                <range velocity="9.0 9.0 9.0" altitude_min="0.2" altitude_max="200.0"/>
                <noise velocity="0.015" altitude="0.001"/>
                <ros_publisher topic="/${robot_name}/dvl/twist" altitude_topic="/${robot_name}/dvl/altitude"/>
            </sensor>

            <sensor name="imu_sf" type="imu" rate="20.0">
                <link name="Base"/>
                <origin rpy="3.1415926 0.0 0.0" xyz="-0.65 0.0 -0.05"/>
                <noise angle="0.01 0.01 0.05" angular_velocity="0.05" yaw_drift="0.001" linear_acceleration="0.1"/>
                <ros_publisher topic="/${robot_name}/imu/stonefish/data"/>
            </sensor>

            <sensor name="gps" type="gps" rate="1.0">
                <link name="Base"/>
                <origin rpy="0.0 0.0 0.0" xyz="-0.7 0.0 -0.3"/>
                <noise ned_position="0.1"/>
                <ros_publisher topic="/${robot_name}/gps/fix"/>
            </sensor>

            <world_transform rpy="${rpy}" xyz="${xyz}"/>

        </robot>
    </xacro:macro>

</scenario>